$font-family-serif: "Judson", serif;
$font-family-sans-serif: "Source Sans Pro", sans-serif;

$grey-border: #eee;
$grey-text: #aaa;
$black: #000;
$white: #fff;
$grey-button: #606060;
$banner-box: #f9d04e;
$light-grey: #f5f5f5;

html {
  font-size: 10px;

  @include lg {
    font-size: 12px;
  }

  @include xl {
    font-size: 14px;
  }
}

body {
  color: $black;
  font-family: $font-family-sans-serif;
}

.App {
  font-size: 1.5rem;
  padding: 2rem;

  @include md {
    padding: 3rem;
  }

  @include md {
    padding: 4rem;
  }
}

a {
  color: $grey-text;
}

a:hover {
  color: $black;
}

h1,
h2,
h3 {
  font-family: $font-family-serif;
  margin: 2rem 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

button {
  background: $grey-button;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
}

button:disabled {
  opacity: 0.3;
}

button:hover {
  background: $black;
}

.Menu {
  align-items: center;
  display: flex;
  // justify-content: space-between;
  padding-bottom: 2rem;
  // margin: 0 auto 2rem; 
  // max-width: 60rem;
  margin-top: 2rem;

  @include lg {
    // margin-left: 20rem;
    // margin: 0 0 2rem 20rem;
    position: fixed;
    height: 100vh; 
    padding-bottom: 0;
    display: inline-block; 
    width: 18rem;
    // border-right: 1px solid $grey-border; 

  }
}

.Menu img {
  display: block;
}

.Menu-logo {
  margin-right: 2rem;
  width: 6rem;

  @include lg {
    position: fixed;
    // height: 100vh; sets the height of the image to the whole page
    top: 0;
    left: 0;
    // border-right: 1px solid $grey-border;
    width: 19rem;
    padding: 4rem 0 4rem 4rem;
  }

  @include md {
  //  width: 22rem; // i'm overwriting a breakpoint rule with this...
  }
}

.Menu-links {
  @include md {
  }

  @include lg {
    position: fixed; //mine
    padding: 6rem 0 4rem 0; //mine
  }
}

.Menu-link {
  font-family: $font-family-sans-serif;
  margin-left: 1.5rem;
  line-height: 3rem;
  text-decoration: none;

  @include md {
    margin-left: 3rem;
  }

  @include lg {
    display: block;
    margin-left: 0;
    // margin: 0 3rem 0 0;
    // line-height: 7.5rem;
  }
}

.Menu-link--active {
  color: $black;
}

// Search --- mine
.Search { 
  display: flex;
  align-items: center;
  @include lg {
    position: fixed;
    margin-left: 20rem;
  }
}

.Search-bar {
  width: 40rem;
  height: 3.3rem;
  margin-right: 2rem;
  padding-top: 0;
}

.Page {
  max-width: 70rem;
  margin: 4rem auto 0 auto;

  @include lg {
    margin: 8rem 0 0 20rem;
  }
}

.Banner-box {
  background-color: $banner-box;
  padding: 1rem 3rem 1rem 3rem;
}


.Example {
  background: #F6F8FA;
  padding: 2rem;
  border-radius: 0.4rem;
}

.Example .Icon {
  margin-right: 10px;
}

.BackgroundImgExample {
  background-image: url(../assets/img/book1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
  max-width: 25rem;
}

.ImgExample {
  max-width: 25rem;
}

hr {
  border: 0;
  border-top: 1px solid $black;
  margin: 2rem 0;
}
